<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Face Recognition Web App</h1>
    <ul>
        <li><a href="{{ url_for('register_photo') }}">Register Foto</a></li>
        <li><a href="{{ url_for('test_compare_photo') }}">Tes Compare Foto</a></li>
    </ul>
</body>
</html>
